[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
django = "*"
pytest-django = "*"
pytest-cov = "*"
mixer = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.9"
